<section id="home" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-3 text-center mt-5">Vocabulibrary</h1>
        <h2 class="text-center display-4 mt-5">Word of the day</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card text-center w-100 mt-5 mb-1">
          <div class="card-body">
            <h3>{{ wordOfTheDay.word }}</h3>
            <p class="font-italic mt-1">{{ wordOfTheDay.partOfSpeech }}</p>
            <p class="lead mt-1" [innerHTML]="wordOfTheDay.definition"></p>
            <p>Content provided by {{ wordOfTheDay.attributionText }}</p>
            <button class="btn btn-primary mt-3 mb-3" data-toggle="collapse" (click)="buttonToggle()" data-target="#collapse-btn">Learn {{ buttonToggleText }}</button>
            <div class="collapse" id="collapse-btn">
              <p class="lead">{{ wordOfTheDay.note }}</p>
              <h5>Example Usage</h5>
              <div>
                <p class="lead">{{ wordOfTheDay.example }}</p>
                From <cite>{{ wordOfTheDay.exampleAttribution}}</cite>
              </div>
            </div>
            <a target="_blank" href="https://www.wordnik.com/words/{{ wordOfTheDay.word }}">
              <p class="text-primary text-sm-right">
                View complete Wordnik data
              </p>
            </a>
            <hr class="bg-primary">
          </div>
        </div>
      </div>

      <div class="col-12 text-center">
        <button (click)="onSelectList()" class="btn btn-primary rounded mt-5 mb-5">Add to a vocabulary list</button>
      </div>
    </div>
  </div>
</section>
