#home{
  background-color: #f8f9fa;
  position: relative;
  min-height: 100vh;

  h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
