<!--NAVIGATION  -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a href="#home" class="navbar-brand">
      Vocabulibrary
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2 active">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a href="#search" class="nav-link">Search</a>
        </li>
        <li class="nav-item mx-2">
          <a href="#vocab-lists" class="nav-link">Vocabulary Lists</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<section id="home" class="bg-light">
  <h1 class="display-3 text-center">Vocabulibrary</h1>
  <h2 class="text-center display-4">Word of the day</h2>
</section>
