<div class="card-body" *ngFor="let word of words">
  <!-- MAY HAVE TO PUT WORD DISPLAY HERE AND LOOP THROUGH WORDS FOR DISPLAY? -->
  <!-- HARD CODED THIS TO SEE WHAT THE DISPLAY WILL LOOOK LIKE -->
  <h5>{{ word.word }}</h5>
  <p class="font-italic mt-1">{{ word.partOfSpeech }}</p>
  <p class="lead mt-1">{{ word.definition }}</p>
  <p>{{ word.attributionText }}</p>
  <a href="#collapse-btn-{{ i }}" class="btn btn-primary mt-3 mb-3" data-parent="#accordian" data-toggle="collapse">Learn {{ buttonToggleText }}</a>
  <div class="collapse" id="collapse-btn-{{ i }}">
    <div>
      <h5 class="mt-2">Antonyms</h5>
      <p class="lead">{{ word.antonyms }}</p>
    </div>
    <div>
      <h5>Synonyms</h5>
      <p class="lead">{{ word.synonyms }}</p>
    </div>
  </div>
  <hr>
  <a target="_blank" href="https://www.wordnik.com/{{word}}/">
    <p class="text-primary text-sm-right">
      View complete Wordnik data
    </p>
  </a>
</div>
