<section id="search" class="bg-light">
  <div class="container search-container">
    <div class="row">
      <div class="col-12 d-flex flex-column text-center">
        <div class="search-box w-100">
          <h2 class="display-4 mb-5 mt-5 text-capitalize">Search dictionary for word</h2>

          <div class="form-group d-flex flex-column align-items-center">

            <!--MAKE INPUT FIELD RED IF NO WORD IS FOUND  -->

            <input routerLink="/search" (keyup.enter)="onSearchWord($event)" placeholder="Search" class="form-control w-50">
            <a routerLink="/search" (click)="onSearchWord($event)" class="btn btn-primary rounded text-white mt-5 w-25">Search</a>
            <a style="cursor: pointer;" (click)="onRandomWord()" class="btn btn-dark rounded text-white mt-5">Random Word</a>
          </div>

          <!-- WILL ADD LAST SUCESSFUL WORD, SO IF YOU FIND A WORD DONT CLICK ADD, THEN TYPE SOMETHING THAT IS NOT
        A WORD AND CLICK ADD IT WILL ADD THE LAST WORD IT FOUND, IT SHOULD NOT ADD ANYTHING -->
          <a style="cursor: pointer;" (click)="onAddWord()" class="btn btn-success rounded text-white mt-3">Add word to list</a>

          <p class="mt-5" *ngIf="clicked && !added">Please select which list you would like to add the word <em>{{ searchResult.word }}</em> to.</p>

          <p class="mt-5" *ngIf="added && uniqueWord">The word <em>{{ searchResult.word }}</em> has been added to the <strong>{{ this.listName }}</strong> list.</p>

          <p class="mt-5" *ngIf="!uniqueWord">The word <em>{{ searchResult.word }}</em> has already been added to the <strong>{{ this.listName }}</strong> list.</p>

<!-- STILL SOME ERRORS WHEN YOU TRY TO ADD A WORD THAT IS NOT REAL AND THEN CLICK AROUND ON ADD WORD -->

          <!-- EVENTUALLY MAKE IT SO WHEN YOU CLICK WHICH LIST TO ADD TO, IT ADDS THE WORD AND TAKES YOU TO THE LIST -->
          <div *ngIf="clicked && !added">
            <ul class=" pl-0 mt-2">
              <li class=" text-primary" *ngFor="let list of lists"><a class="mt-4" (click)="onSelectList($event)">{{ list.name }}</a></li>
            </ul>
          </div>
        </div>

        <app-search-result [searchResult]="searchResult"
                           [error]="error"
                           [submittedWord]="submittedWord"
                           [attributionText] ="attributionText"
                           [synonymLength]= "synonymLength"
                           [antonymLength]= "antonymLength">
        </app-search-result>
      </div>
    </div>
  </div>
</section>
