<section id="search" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column text-center">
        <div class="search-box w-100">
          <h2 class="display-4 mb-5 mt-1">Search dictionary for word</h2>
          <form>
            <div class="form-group d-flex flex-column align-items-center">
              <input (keydown.enter)="onSearchWord($event)" type="text" placeholder="Search" class="form-control w-50">
              <a routerLink="/search" (click)="onSearchWord($event)" class="btn btn-primary text-white mt-5 w-25">Search</a>
            </div>
          </form>
          <!-- ANYTHING OUTSIDE OF THIS DIV IS DISPLAYED AT THE TOP OF THE PAGE INSTEAD OF AFTER DIV -->
          <!-- <a style="cursor: pointer;" class="btn btn-success text-white">Add word to list</a> -->
          <!-- <app-search-result [searchResult]="searchResult"></app-search-result> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <app-search-result [searchResult]="searchResult"></app-search-result> -->
</section>

<!--TRYING TO FIGURE OUT HOW TO GET TO DISPLAY PROPERLY, AFTER SECTION, PROBLEM THAT SEACH COPONENT
 MIN HEIGHT IS 100 VH, BUT IF PLACED IN SEARCH COMPONENT IT OVERLAPS WITH SEACH BOX  -->
<app-search-result [searchResult]="searchResult"></app-search-result>
