<section id="vocab-lists" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col mt-5 d-flex justify-content-around">
        <a class="btn btn-success rounded text-white" (click)="onCreateNewList()">Create new list</a>
        <a class="btn btn-primary rounded text-white" (click)="onEditList()">Edit list</a>
        <a class="btn btn-danger rounded text-white" (click)="onDeleteList()">Delete list</a>
      </div>
    </div>

    <app-list-display *ngFor="let word of words"></app-list-display>

    <!-- <app-list-display></app-list-display> -->
    <router-outlet></router-outlet>
  </div>
</section>

<!-- NEED TO FINISH FIGUING OUT THE LOOP AND ADDING/ DISPLAYNG LISTS AND WORDS -->
