<section id="vocab-lists" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col mt-5 d-flex flex-column align-items-center align-self-center">
        <!-- <a class="btn btn-success rounded text-white" (click)="onCreateNewList()">Create new list</a> -->
        <div class="col-6 d-flex justify-content-around">
          <a class="btn btn-primary rounded text-white" (click)="onEditList()">Edit list</a>
          <a class="btn btn-danger rounded text-white" (click)="onDeleteList()">Delete list</a>
        </div>

        <div class="col-6 d-flex justify-content-center mt-5">
          <input class="form-control w-75" type="text" placeholder="Enter name of new list" (keyup.enter)="onCreateNewList($event)">
          <a class="btn btn-success rounded text-white" style="cursor: pointer;" (click)="onCreateNewList($event)">Create new list</a>
        </div>
      </div>
    </div>

    <!-- GOING TO NEED TO FIGURE OUT HOW TO DISPLAY LISTS, THEN WORDS WITHIN EACH LIST -->
    <!-- <app-list-display *ngFor="let word of words" *ngFor="list of lists"></app-list-display> -->
  <!-- *ngFor="let word of words" -->

    <app-list-display *ngFor="let list of lists"></app-list-display>

    <router-outlet></router-outlet>
  </div>
</section>

<!-- NEED TO FINISH FIGUING OUT THE LOOP AND ADDING/ DISPLAYNG LISTS AND WORDS -->
