<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vocabulibrary</title>
</head>
<body>

  <!--NAVIGATION  -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a href="#home" class="navbar-brand">
        Vocabulibrary
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#search" class="nav-link">Search</a>
        </li>
        <li class="nav-item">
          <a href="#vocab-lists" class="nav-link">Vocabulary Lists</a>
        </li>
      </ul>
    </div>

  </nav>

</body>
</html>

<router-outlet></router-outlet>
