<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vocabulibrary</title>
</head>
<body>

  <app-header></app-header>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

</body>
</html>



<!--
 (selectedFeature)="onNavigate($event)"
<app-home *ngIf="loadedFeature === 'home'"></app-home>
<app-search *ngIf="loadedFeature === 'search'"></app-search>
<app-lists *ngIf="loadedFeature === 'lists'"></app-lists> -->
