<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vocabulibrary</title>
</head>
<body>

  <app-header (selectedFeature)="onNavigate($event)"></app-header>
  <app-home *ngIf="loadedFeature === 'home'"></app-home>
  <app-search *ngIf="loadedFeature === 'search'"></app-search>
  <app-lists *ngIf="loadedFeature === 'lists'"></app-lists>
  <app-footer></app-footer>

</body>
</html>

<router-outlet></router-outlet>
