
<!-- WILL ADD ICONS FOR GITHUB LINKEDIN WEBSITE ETC.. LATER  -->


<footer id="footer" class="text-center bg-dark text-white p-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright &copy; Vocabulibrary {{ year }}</p>
        <p>Designed and coded by Ryan Wardle</p>
        <a href="https://www.linkedin.com/in/ryan-wardle-603710174" target="_blank" class="m-1">LinkedIn</a>
        <a href="https://github.com/ryanwardle" target="_blank" class="m-1">GitHub</a>
        <a href="https://ryanwardle.com/" target="_blank" class="m-1">My Portfolio Website</a>
        <div class="wordnik-box col mt-1">
          <a href="https://www.wordnik.com" target="_blank">
            <p class="text-white">Powered by Wordnik
              <img class="ml-2" src="assets/img/wordnik_gearheart.png" alt="Wordnik Logo">
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
